---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
	<h1 class="text-2xl font-bold mb-3">Main page</h1>

	<!-- <a href="/about" class="bg-slate-100 p-1">Go to the about page</a> -->
</MainLayout>
